@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    @apply w-1 h-[1px];
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-teamdao-primarycursor-pointer;
}

#game {
    width: auto;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
}